@media  screen and (max-width:576px) {
    /* header section starts */
    header{
        width: 100%;
        height: 100%;
        gap: 50px;
    }
    h3{
        font-size: 2rem;
    }
    nav{
        width: 90%;
        gap: 195px;
    }
    nav .menu{
        display: none;
    }
    nav .bar{
        display: contents;
    }
    .banner-container{
        width: 100%;
        height: 100%;
        gap: 48px;
        flex-direction: column;
    }
    .banner-items{
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
    }
    .banner-items h1{
        font-size: 3rem;
    }
    .banner-items .shape{
        font-size: 6rem;
    }
    .banner-items div{
        width: 100%;
    }
    .banner-image{
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }
    .box-1{
        width: 150px;
        height: 80px;
        top: 70px;
        left: 210px;
    }
    .box-1 h2{
        font-size: 2rem;
    }
    .box-1 p{
        font-size: 0.75rem;
    }
    .box-2{
        width: 160px;
        height: 80px;
        top: 340px;
        left: 30px;
    }
    .box-2 .play-button{
        display: block;
    }
    /* header section ends */

    /* habits section starts */
    .habits{
        width: 85%;
        height: 100%;
        margin-top: 0;
    }
    .habits-text{
        width: 90%;
    }
    .habits-image{
        height: 100%;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
    /* habits section ends */

    /* run extra section starts */
    .run-extra{
        width: 90%;
        height: 100%;
        flex-direction: column;
        gap: 40px;
        margin-top: 65px;
    }
    .run-text{
       width: 85%;
       margin: 0;
       margin-top: 50px;
    }
    .run-text .btn-primary{
        width: 100%;
    }
    .runing-image{
        width: 85%;
        height: 250px;
        margin: 0;
        margin-bottom: 50px;
    }
    .runing-image img{
        transform: translate(-53%, -44%) scale(.4);
    }
    /* run extra section ends */

    /* training-exercises section starts */
    .training{
        width: 90%;
        height: 100%;
        margin-top: 65px;
     }
     .train-text{
         width: 100%;
         height: 100%;
     }
     .train-text h3{
        width: 330px;
     }
     .row-1{
        grid-template-columns: 1fr 1fr;
     }
     .row-2{
        grid-template-columns: 0.9fr 1.1fr;
     }
     .train-pic-4 h6{
        left: 20px;
        top: 140px;
     }
     .train-pic-3, .train-pic-6{
        display: none;
     }     
    /* training-exercises section ends */

    /* BMI section starts */
    .BMI{
        width: 100%;
        height: 100%;
        margin-top: 50px;
    }
    .BMI-text{
        width: 90%;
    }
    .BMI-container{
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: start;
        gap: 50px;
        margin-top: 40px;
    }
    .BMI-container .title{
        left: 20px;
        top: 32px;
    }
    .BMI-chart{
        width: 80%;
        margin-left: 20px;
        margin-top: 90px;
    }
    .calculate-BMI{
        width: 90%;
        margin: 0 auto;
    }
    .calculate-BMI button{
        width: 60%;
    }
    .title h5, .div1 h5{
        font-size: 1.25rem;
    }
    /* BMI section ends */

    /* meet our team section starts */
    .meet-our-team{
        width: 90%;
        height: 100%;
        margin-top: 65px;
    }
    .meet-team-text{
        width: 85%;
    }
    .meet-team-items{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 20px 0;
        margin-top: 40px;
        grid-template-columns: repeat( 1, 1fr);
    }
    .team-pic{
        width: 90%;
        margin: 0 auto;
    }
    /* meet our team section ends */

    /* unique section starts here */
    /* diet plan starts */
    .diet-plan-container{
        width: 90%;
        height: 100%;
        margin-top: 65px;
    }
    .diet-plan-text{
        width: 90%;
        margin: 0 auto;
    }
    .diet-plan-items{
        grid-template-columns: 1fr;
    }
    /* diet plan ends */
    /* membership starts */
    .membership-container{
        width: 100%;
        height: 100%;
        margin-top: 65px;
    }
    .membership-text{
        width: 90%;
        margin: 20px auto;
    }
    .membership-items{
        width: 90%;
        margin: 0 auto;
        grid-template-columns: 1fr;
    }
    .plans{
        margin: 30px;
    }
    /* membership ends */
    /* unique section ends here*/

    /* footer section starts */
    footer{
        width: 100%;
        height: 100%;
        margin-top: 65px;
    }
    .fitness{
        width: 90%;
        height: 100%;
        margin-top: 44px;
        flex-direction: column;
        gap: 30px;
    }
    .fit-item2{
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }
    .fit-item2 .text{
        width: 50%;
    }
    .fit-item2 .text .link{
        width: 100%;
    }
    hr{
        width: 90%;
        margin-top: 70px;
    }
    footer .copyright{
        width: 80%;
    }
    /* footer section ends */
}