@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{ 
    font-family: "Inter", sans-serif;
    background-color: black;
} 

/* shared styles starts */
p, td{
    color: rgba(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    opacity: 0.5;
}
h3{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
}
h5{
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.btn-primary{
    width: 224px;
    height: 54px;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    border: none;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    cursor: pointer;
}
.btn-primary:hover{
    background-color: rgb(249, 140, 97);
    transition: .3s;
}
/* shared styles ends */

/* navbar styles starts */
nav{
    max-width: 1060px;
    height: 46px;
    margin: 0 auto;
    margin-top: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 463px;
}
nav h4{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 2.25rem;
    font-weight: 800;
}
nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
nav .menu{
    width: 465px;
    height: 46px;
    display: flex;
    font-size: 1.25rem;
    padding: 0 20px 0 3px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 40px;
}
nav .home{
    width: 92px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 46px;
    border: none;
    background: rgb(230, 83, 60);
}
nav .bar{
    color: rgb(255, 255, 255);
    padding: 10px;
    display: none;
}
/* navbar styles ends */

/* header section starts here */
header{
    max-width: 1440px;
    height: 715px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background: linear-gradient(to bottom, rgba(17, 17, 17, 0.7) 0%, rgba(119, 119, 119, 0.3) 50%, rgba(17, 17, 17, 0.5) 100%);

}
.banner-container{ 
    max-width: 1440px;
    height: 580px;
    display: flex;
    gap: 90px;
}
.banner-items{
    max-width: 599.05px;
    height: 440px;
    margin-top: 64px;
    margin-left: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.banner-items div{
    width: 462px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    gap: 14px;
}
.banner-items h1{
    color: rgb(255, 255, 255);
    font-size: 5rem;
    font-weight: 900;
}
.banner-items .shape{
    font-family: 'Miama', sans-serif;
    font-size: 10rem;
    font-weight: 400;
    line-height: 0;                                  
}
.banner-items .btn{
    width: 224px;
    height: 54px;
    background: black;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
}
.banner-image{
    width: 349px;
    height: 580px;
    position: relative;
}
.banner-image img{
    width: 100%;
}
.box-1{
    width: 190px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    top: 125px;
    left: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-1 h2{
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.box-2{
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    bottom: 65px;
    right: 256px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.box-2 h2{
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.box-2 .circle{
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.box-2 .play-button{
    display: none;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}
/* header section emds here */

/* habits section starts here */
.habits{
    max-width: 1044px;
    height: 452px;
    margin: 0 auto;
    margin-top: 100px;
}
.habits-text{
    max-width: 671px;
    height: 120px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.habits-image{
    max-width: 1044px;
    height: 274px;
    margin-top: 58px;
    display: flex;
    justify-content: space-between;
}
.habits-items{
    width: 231px;
    height: 274px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.image-1{
    width: 180px;
    height: 180px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    background-image: url(../images/image\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.image-2{
    width: 180px;
    height: 180px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    background-image: url(../images/image\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.image-3{
    width: 180px;
    height: 180px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    background-image: url(../images/image\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.image-4{
    width: 180px;
    height: 180px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    background-image: url(../images/image\ 5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* habits section starts here */

/* run extra section starts here */
.run-extra{
    max-width: 1060px;
    height: 371px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.run-text{
    width: 443px;
    height: 290px;
    margin-left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.runing-image{
    width: 366px;
    height: 312px;
    margin-right: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 18px;
}
.runing-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-61%, -41%) scale(.8);
}
/* run extra section ends here */

/* training section starts here */
.training{
    max-width: 1060px;
    height: 581px;
    margin: 0 auto;
    margin-top: 100px;
}
.train-text{
    max-width: 671px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 14px;
}
.train-items{
    width: 100%;
    height: 402px;
    margin-top: 59px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row-1{
    width: 100%;
    height: 201px;
    display: grid;
    grid-template-columns: 0.9fr 2fr 1.1fr;
}
.row-2{
    width: 100%;
    height: 201px;
    display: grid;
    grid-template-columns: 1.7fr 1fr 1.3fr;
}
.train-pic-1{
    width: 100%;
    height: 201px;
    background: linear-gradient(rgba(6, 255, 210, 0.5), rgba(6, 255, 210, 0.5)), url(../images/exercise1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.train-pic-1 h6{
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    left: 20px;
    bottom: 30px;
}
.train-pic-2{
    width: 100%;
    height: 201px;
    background: linear-gradient(rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)), url(../images/exercise2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.train-pic-2 h6{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    top: 30px;
    left: 30px;
}
.train-pic-3{
    width: 100%;
    height: 201px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/exercise3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.train-pic-3 h6{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.train-pic-4{
    width: 100%;
    height: 201px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/exercise4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.train-pic-4 h6{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    top: 30px;
    right: 30px;
}
.train-pic-5{
    width: 100%;
    height: 201px;
    background: linear-gradient(rgba(66, 255, 0, 0.3), rgba(66, 255, 0, 0.3)), url(../images/exercise5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.train-pic-5 h6{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    bottom: 20px;
    left: 30px;
}
.train-pic-6{
    width: 100%;
    height: 201px;
    background: linear-gradient(rgba(0, 71, 255, 0.3), rgba(0, 71, 255, 0.3)), url(../images/exercise6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.train-pic-6 h6{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    bottom: 20px;
    left: 30px;
}
/* training section ends here */

/* BMI section start here */
.BMI{
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    margin-top: 90px;
}
.BMI-text{
    max-width: 670px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.BMI-container{
    max-width: 1440px;
    height: 500px;
    margin-top: 90px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: rgb(34, 34, 34);
}
.BMI-container .title{
    max-width: 443px;
    height: 34px;
    position: absolute;
    top:52px;
    left: 170px;
}
.title h5, .div1 h5{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.75rem;
    font-weight: 900;
}
.BMI-chart{    
    width: 350px;
    height: 250px;
    color: rgb(255, 255, 255);
}
table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
th, td{
    padding-left: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    text-align: left;
}
th{
    padding: 10px;
}
.calculate-BMI{
    max-width: 577px;
    height: 386px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.calculate-BMI .div1{
    width: 100%;
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.calculate-BMI .div2{
    width: 100%;
    height: 176px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.div2>div{
    display: flex;
    gap: 15px;
    width: 100%;
    height: 48px;
}
.div2 .input1 input, .input2 input, #gender{
    width: 50%;
    height: 48px;
    border: none;
    border-radius: 8px;
    padding-left: 15px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.3);
    font-size: 1rem;
}
.div2 #factor{
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 8px;
    padding-left: 15px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.3);
    font-size: 1rem;  
}
/* BMI section ends here */


/* meet our team section starts here */
.meet-our-team{
    max-width: 1060px;
    height: 782px;
    margin: 0 auto;
    margin-top: 90px;
}
.meet-team-text{
    max-width: 671px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.meet-team-items{
    width: 100%;
    height: 604px;
    margin-top: 58px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
}
.team-pic{
    width: 326.667px;
    height: 272px;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2);
    position: relative;
}
.team-pic h2{
    color: rgb(255, 255, 255);
    position: absolute;
    left: 20px;
    bottom: 30px;
}
.team-pic p{
    position: absolute;
    left: 20px;
    bottom: 10px;
}
.team-pic img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
/* meet our team section ends here */


/* unique section starts here */
/* diet plan starts */
.diet-plan-container{
    max-width: 1060px;
    margin: 0 auto;
    margin-top: 90px;
    background-color: rgb(34, 34, 34);
    border-radius: 16px;
}
.diet-plan-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
}
.diet-plan-text h3, .membership-text h3{
    margin-top: 20px;
}
.diet-plan-items{
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.weight-loss{
    background-color: #d2b48c;
    padding: 30px;
    margin: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
}
.weight-loss h5{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}
.weight-loss ul{
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    list-style-type: none;
}
.weight-loss ul li{
    font-size: 1rem;
    color: rgb(17, 17, 17);
    margin-bottom: 20px;
}
.diet-btn{
    display: flex;
    justify-content: center;
}
.diet-btn button{
    padding: 15px 60px;
    margin-bottom: 20px;
    font-size: 1.25rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    background: rgb(230, 83, 60);
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.diet-btn button:hover{
    background-color: lightsalmon;
    transition: .3s;
}
/* diet plan ends */
/* membership starts*/
.membership-container{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 90px;
    background: rgb(34, 34, 34);
}
.membership-text{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
}
.membership-items{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
}
.plans{
    background-color: #c0c0c0;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    box-shadow: 0 5px 10px rgba(18, 83, 247, 0.5);
}
.plans h5{
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.plans p{
    color: red;
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 50px;
}
.plans ul{
    margin-left: 20px;
    margin-bottom: 30px;
}
.plans ul li{
    font-size: 1rem;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}
.plans button{
    padding: 15px 30px;
    color: rgb(255, 255, 255);
    background: rgb(230, 83, 60);
    font-size: 1.125rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.plans button:hover{
    background-color: rgb(249, 140, 97);
    transition: .3s;
}
/* membership ends */
/* unique section ends here */


/* footer section start here */
footer{
    max-width: 1440px;
    height: 489px;
    margin: 0 auto;
    margin-top: 90px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
}
.fitness{
    max-width: 1059px;
    height: 249px;
    margin: 0 auto;
    margin-top: 66px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.fit-item1{
    max-width: 443px;
    height: 176px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fit-item1 h1{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 70px;
    font-weight: 800;
}
.fit-item2{
    width: 514px;
    height: 249px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fit-item2 .text{
    width: 181px;
    height: 249px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fit-item2 .text .link{
    width: 181px;
    height: 172px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text h5{
    font-size: 1.75rem;
    font-weight: 700;
}
.fit-item2 .text .link a{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
}
hr{
    max-width: 1059.5px;
    margin: 0 auto;
    margin-top: 80px;
    opacity: 0.3;
}
footer .copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px auto;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 400;
}
/* footer section ends here */
